@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/assets/fonts/Roboto-Regular.woff") format("woff");
}

:root {
  --bg-color: rgb(218, 212, 212);
  --accent-color: rgb(228, 141, 10);
  --framing-color: #e6e3e3;
  --font-color: rgb(0, 0, 0);
  --font-family: "Roboto";
}

/*GENERAL*/
body,
html {
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
}

article {
  background-color: var(--bg-color);
  padding: 15px;
}

/*navigation*/
.navbar-brand img {
  width: 150px;
}

.navigation {
  background-color: var(--framing-color);
}

@media screen and (min-width: 700px) {
  .navigation {
    padding: 35px;
  }
}

/*index and posts*/
.link {
  color: var(--accent-color);
  word-wrap: break-word;
}

.comment a {
  color: black;
  font-weight: bold;
}

.upvotes {
  padding-top: 5px;
}

svg {
  width: 25px;
}

.like:hover {
  fill: rgb(18, 230, 18);
}

.unlike:hover {
  fill: red;
}

.like-btn {
  border: none;
  background: transparent;
}

.like-container {
  padding-top: 2rem;
}

/*LOGIN*/

.login {
  margin-bottom: 145px;
}

/*PROFILE*/

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-pic img {
  width: 100px;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 25px;
}

@media screen and (min-width: 700px) {
  .profile-pic img {
    width: 200px;
  }
}

.bio {
  max-width: 600px;
}

.buttons {
  padding-top: 50px;
}

.buttons a:hover {
  color: white;
  text-decoration: none;
}

.danger-zone {
  border: 2px dotted red;
  padding: 15px;
  margin-top: 200px;
  max-width: 600px;
}

/*UPDATE PROFILE*/
.img-form {
  margin-top: 65px;
}

@media screen and (min-width: 700px) {
  .img-form {
    margin-top: 100px;
  }
}

/*POSTS*/

.comment {
  padding-top: 15px;
}

/*COMMENTS*/

.comments-displayed {
  padding-top: 55px;
}
.delete-com {
  padding-bottom: 20px;
}

/*FOOTER*/
.footer-area {
  background: var(--framing-color) none repeat scroll 0 0;
  padding: 15px 0;
  margin-top: 350px;
}

.footer-icons {
  text-align: center;
}

.footer-icons ul li {
  display: inline-block;
}

.footer-icons ul li a {
  border: 1px solid #444;
  color: #444;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
}

.footer-icons ul li a:hover {
  background-color: var(--accent-color);
  color: white;
  border: 1px solid white;
}

.policy {
  padding-top: 5px;
  text-align: center;
}

.policy a {
  color: #000;
}
.copyright-text a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.copyright-text a {
  color: #444;
}

.copyright > p {
  margin-bottom: 0;
  color: #444;
}

.copyright span a {
  color: var(--accent-color);
  font-weight: 600;
}
